@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f1f3f8;
    height: 100vh;
}

h1, i, b, span {
    margin: 0.75rem;
    display: block;
}

header {
    padding: 0.1rem;
    border-bottom: 2px solid blueviolet;
    background-color: #d6e0f0;
    text-align: left;
    color: #333;
    height: 75px;
    transition: all 500ms ease-in-out;
}

main {
    display: flex;
    height: calc(100vh - 125px);
}

.books {
    display: flex;
    justify-content: left;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    overflow-y: auto;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin: 0.5rem;
    flex: 0 1 auto;
    width: 250px;
    height: 300px;
    border: 2px solid black;
    box-shadow: 0 0 5px 1px #0075;
    border-radius: 10px;
    font-size: 0.75rem;
    background-color: #f6f6f6;
    transition: all ease-in-out 300ms;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.book:hover {
    box-shadow: 0 0 10px 3px #00F3;
}

.status, .remove {
    box-sizing: border-box;
    width: 50%;
    display: inline;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px groove white;
    margin: 0.25rem;
    color: white;
    background-color: #D55;
    transition: all ease-in-out 300ms;
}

.status:hover {
    border: 2px solid blue;
}

.read {
    background-color: #1212FF;
}

.read:hover{
    border: 2px solid #D55;
}

.remove {
    background-color: red;
    border: none;
    transition: all ease-in-out 300ms;
}

.remove:hover {
    box-shadow: 0 0 5px 2px gray;
}
.add-screen {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: auto;
    flex-shrink: 0;
    color: white;
    background-color: #1212FF;
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

.read-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
    margin: 0.5rem 0;
}

form input {
    border: none;
    background: transparent;
    border-bottom: 3px solid white;
    margin: 1rem 0;
    color: white;
    transition: all ease-in-out 300ms;
}

form input:focus-visible, form input:hover {
    outline: none;
    border-bottom: 3px solid yellow;
}

.toggle {
    position : relative ;
    display : inline-block;
    width : 3rem;
    height : 1.5rem;
    background-color: #f13c20;
    border-radius: 30px;
    border: 1px solid #1212FF;
    color: black;
    transition: all ease-in-out 300ms;
}

.toggle:after {
    content: '';
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: gray;
    top: 3px; 
    left: 1px;
    transition:  all 0.5s;
}

.checkbox:checked + .toggle::after {
    left : 1.6rem;
}
        
.checkbox:checked + .toggle {
    background-color: #5cdb95;
}
        
.checkbox { 
    display : none;
}

#submit {
    border: 1px groove white;
    color: white;
    height: 3rem;
    border-radius: 3rem;
    transition: all ease-in-out 300ms;
}

#submit:hover {
    background-color: #FF2;
    color: black;
}
footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    height: 50px;
    width: 100%;
    background-color: #d6e0f0;
    border-top: 2px solid blueviolet;
}

svg {
    transform: scale(0.75);
    transition: transform .15s cubic-bezier(.17,.67,.29,2.71) 0s;
}

svg:hover {
    transform: scale(0.9);
    filter: invert(41%) sepia(94%) saturate(1636%) hue-rotate(129deg) brightness(92%) contrast(97%);
}
